<h1 class="text-center"> Listado de Héroes </h1>
<mat-divider></mat-divider>

<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de héroes</mat-label>
    <input type="text" matInput
    [formControl]="searchInput"
    (input)="searchSuperhero()"
    [matAutocomplete]="auto"
  />

    <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption( $event )">
        <mat-option *ngFor="let hero of superheroes"
          [value]="hero"
          [routerLink]="['/heroes', hero.id]" >
          {{hero.superhero}}
        </mat-option>
        <mat-option
          *ngIf="superheroes.length === 0 && searchInput.value!.length > 0"
          value="">
          No se encontró nada con el término {{ searchInput.value }}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<div class="grid mb-8 pt-2">
  <div
    *ngFor="let superhero of superheroes"
    class="col-12 sm:col-4 md:col-3 xl:col-2">
      <superhero-card [superhero]="superhero"></superhero-card>
  </div>
</div>
